name: Context info
on: 
  workflow_dispatch:
  push:
    branches:
      - main
jobs:
  context:
    environment: testing
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        
      - name: Environment 
        run: |
          echo ${{ vars.DEMO_VAR }}
      - name: foo
        run: |
          ls
          cd ./app
      - name: Run reusable
        id: vars
        uses: ./.github/actions/shared
        
      - name: Print output
        run: |
         echo "${{ steps.vars.outputs.git-sha }}"
         echo "${{ steps.vars.outputs.git-branch }}"
      - name: Another shared workflow
        uses: ./.github/workflows/shared.yml@main
        